<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instant Search with Django</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.22.1/dist/algoliasearch-lite.umd.js" integrity="sha256-pxkGFjfnFWYGOtV9uhCWK/spKiGS0Z7gVDKYm39LyfM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.64.2/dist/instantsearch.production.min.js" integrity="sha256-/DLulTBQ8KQ7xGOs8mrQ6FgKsknJpjCGAjFhjfjc8yo=" crossorigin="anonymous"></script>
    <style>
     .ais-SearchBox,
     .ais-Hits {
         margin: 1em;
     }
    </style>
  </head>
  <body>
    <header>
      <h1>Search Our Site</h1>
      <div id="search-box"></div>
    </header>
    <main>
      <div id="hits"></div>
    </main>
    <script>
     const searchClient = algoliasearch('YourApplicationID', 'YourSearchOnlyAPIKey', {
         hosts: [{ url: '127.0.0.1:8000/search/api' }],
     });

     const search = instantsearch({
         indexName: 'YourIndexName',
         searchClient,
     });

     search.addWidget(
         instantsearch.widgets.searchBox({
             container: '#search-box',
             placeholder: 'Search for products',
         })
     );

     search.addWidget(
         instantsearch.widgets.hits({
             container: '#hits',
             templates: {
                 item: '{% verbatim %}{{{_highlightResult.name.value}}}{% endverbatim %}',
             },
         })
     );

     search.start();
    </script>
  </body>
</html>
